*{
  margin:0;
  padding:0;
}

body{
  padding: 20px;
}


.addtocart{
background-color: yellow;
margin: 10px;
padding: 5px;
}

.buynow{
  background-color: orange;
  padding:10px;
}

button{
  padding:5px;
}


.cs-one-three{
  background-color:antiquewhite;
  padding-bottom:20px;
}

.cs-four{
  background-color: aqua;
  padding-bottom:20px;
}

.cs-five{
  background-color: rgb(236, 145, 33);
  padding-bottom: 20px;
}

.cs-six{
  background-color: burlywood;
}

.cs-seven{
  background-color: aquamarine;
}
.cs-notes{
  color: red;
  font-weight: bold;
}


.cs-eight{
  background-color: rgb(217, 255, 127);
}

.cs-nine{
  background-color: rgb(255, 204, 127);
}
/* property: value */

/*  */