*{
    margin:0;
    padding:5px;

}
body{
    text-align: center;
}

.h1header{
    background-color: rgb(27, 16, 1);
    align-content: center;
    padding:20px;
    font-size:40px;
    font-weight: bold;
}

.img{
    align-items: center;
}

.psection{
    background-color:#f765b8;
    text-align: center;
    
}

