body{
    background: wheat;
    display: block;
    
}
header{
    align-items: center;
}
h1,button{
    font-size: bold;
    color: white;
    background: green;
    align-items: center;
    border-radius:5px;
}

div{
    justify-content: center;
    border:solid;
    background: white;
    margin:0,auto;
    border-radius:5px;
}  

form{
    padding: 10px;
    display: grid;
    font-weight:bold;
}

input{
    padding:10px;
    font-size: 18px;
}

.card{
    margin:10px;
}

.content{
    text-align: center;
    margin:30px;
    background: bisque;
}

li{
    list-style: none; /*removes the bulleting*/ 
}

img{
    width:221px ;
    height: 342px ;
}


.buy{
    padding:15px;
}

button{
    padding: 5px;
}
