*{

}

body{
    text-align: center;
    background-color: black;
    color: white;
}

.firstHeader{
    /* background-color: rgb(27, 16, 1); */
    align-content: center;
    padding:20px;
    font-size:40px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.js-cake-image{
    align-content: center;
    margin: 50px;
    padding: auto;
    cursor: pointer;
    
}

.js-first-paragraph{
    /* background-color:#f765b8; */
    text-align: center;
    color:pink;
    font-size: 26px;
    
}

.js-second-paragraph{
    font-size: 50px; 
    color: #f765b8;
    font-weight:bold ;
    font-size: 60px;

}




